on: 
  workflow_dispatch:
    inputs:
      distro:
        description: 'Distro for which to rebuild testenv manifest'
        required: true
        default: 'noble'
        type: choice
        options:
        - noble
        - el9
        - el8
        - bookworm
        - alpine
        - fedora40
        - jammy
        - focal
name: rebuild testenv containers using docker buildx
jobs:
  build-and-push-containers:
  name: build and push new testenv containers
  runs-on: ubuntu-24.04-arm
#  env:
#    DOCKER_USERNAME: travisflux
#    DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_TRAVISFLUX_TOKEN }}
#    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  steps:
    -
      name: Checkout
      uses: actions/checkout@v5
    -
      # Add support for more platforms with QEMU (optional)
      # https://github.com/docker/setup-qemu-action
      name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      run: docker buildx build --platform=linux/arm64,linux/amd64 --tag fluxrm/testenv:${{ inputs.distro }} -f src/test/docker/${{ inputs.distro }}/Dockerfile .

