# vim: set shiftwidth=2 tabstop=2 softtabstop=2 expandtab:
on: 
  workflow_dispatch:
    inputs:
      distro:
        description: 'Distro for which to rebuild testenv manifest'
        required: true
        default: 'noble'
        type: choice
        options:
        - noble
        - el9
        - el8
        - bookworm
        - alpine
        - fedora40
        - jammy
        - focal
        - trixie
name: rebuild testenv containers using docker buildx
jobs:
  build-containers:
    name: build new testenv containers
    runs-on: ubuntu-24.04-arm
    env:
      DOCKERHUB_REPO: wihobbs
      DOCKER_USERNAME: wihobbs
      DOCKER_PASSWORD: ${{ secrets.DOCKER_HUB_TRAVISFLUX_TOKEN }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        # Add support for more platforms with QEMU (optional)
        # https://github.com/docker/setup-qemu-action
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: docker login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}
      -
        name: Build the actual containers
        run: docker buildx build --push --platform=linux/arm64,linux/amd64 --tag $DOCKERHUB_REPO/testenv:${{ inputs.distro }} -f src/test/docker/${{ inputs.distro }}/Dockerfile .
#  run-make-check-amd64:
#    name: run make check in newly-built testenv containers
#    runs-on: ubuntu-latest
#    needs: build-containers
#    steps:
#    - name: docker run make check
#      run: docker run $DOCKERHUB_REPO/testenv:${{ inputs.distro }} echo "hello"
#  run-make-check-arm:
#    name: run make check in newly-built testenv containers
#    runs-on: ubuntu-24.04-arm
#    needs: build-containers
#    steps:
#    - name: docker run make check
#      run: docker run $DOCKERHUB_REPO/testenv:${{ inputs.distro }} echo "hello"
#   create-manifest:
#     runs-on: ubuntu-latest
#     needs: [build-containers, run-make-check-arm64, run-make-check-amd64]
#     steps: 
#   
